<a class="menu-bar" data-toggle="collapse" href="#menu">
        <span class="bars"></span>
    </a>
  <div class="collapse menu" id="menu">
        <ul class="list-inline">
            <li><a href="/">Home</a></li>
            <li><a href="/allsimchas">Simchas</a></li>
            <li><a href="/contributors">Contributors</a></li>
        </ul>
  </div>
