<!DOCTYPE html>
<html lang="en">

<% include partials/template/head.ejs %>
  <body id="index">
    <% include partials/template/navbar.ejs %>
    <div class="jumbotron">
      <h1 class="text-center">Simcha Fund</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2">
          <form id="addSimcha" class="form-inline" method="post">
            <div class="form-group">
              <label for="simchaName">Name</label>
              <input type="text" class="form-control" id="simchaName" name="name" placeholder="Enter Name" required>
            </div>
            <div class="form-group">
              <label for="simchaType">Type</label>
              <input type="text" class="form-control" id="simchaType" name="type" placeholder="Enter Simcha Type" required>
            </div>
            <div class="form-group">
              <input type="hidden" class="form-control" id="donorAmount" name="amount" value="0" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Simcha
              </button>
            </div>
          </form>
        </div>
      </div>
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading text-center"><strong>Simchas List</strong></div>
        <table class="table table-hover table-bordered">
          <thead>
            <th class="text-center">Name</th>
            <th class="text-center">Simcha</th>
            <th class="text-center">Total Collected</th>
            <th></th>
          </thead>
          <tbody>
            <% simchaData.forEach(function(data) { %>
            <tr>
              <td class="text-center"><%= data.name %></td>
              <td class="text-center"><%= data.type %></td>
              <td class="text-center">$<%= data.balance %></td>
              <td width = "15%"><a href="/simcha/<%= data.id %>"><button class="addToSimcha text-right btn btn-xs btn-info">Add Money/Edit</button></a></td>
            </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
  </body>

</html>
