<!DOCTYPE html>
<html lang="en">
  <% include partials/template/head.ejs %>
  <body id="index">
    <% include partials/template/navbar.ejs %>
      <div class="jumbotron">
        <h1 class="text-center">Simcha Fund</h1>
      </div>
    <div id="main" class="container">
      <div class="dropdown col-md-offset-2 col-md-8" >
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select A Simcha
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownenu1">
          <li><a href="/allsimchas">All</a></li>
          <li role="separator" class="divider"></li>
          <% simchaData.forEach(function(data) { %>
          <li><a href="/simcha/<%= data.id %>"><%= data.name %> - <%= data.type %></a></li>
        <%  }); %>
        </ul>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
  </body>

</html>
